body {
    background-image: url("https://images.pexels.com/photos/7809755/pexels-photo-7809755.jpeg?auto=compress&cs=tinysrgb&w=1200");
    background-color: black;
    background-size: 1440px 700px ;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    
    
}
.nav{
   /* background-color: black;*/
    opacity: 0.5;
    padding: 15px 15px;
    margin: 0 auto 0;
    
}
.nav a{
    opacity: 1;
    color: rgb(76, 76, 77);
    margin-top: 0px;
    padding: 7px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    right: 40;
    margin-left: 60px;
    
    
}
.nav a:hover{
    background-color: #ffe10050;
    


}
body h3{
    font-family: 'Montserrat', sans-serif;
    margin-top: 195px;
    margin-right: 50px;
    font-size: 50px;
    text-align: right;
    color: #75b900;
    position: relative;
    font-weight:20;
    margin-bottom: 0;
}
body h4{
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
    margin-right:375px ;
    text-align: right;
    color: #aaea5c;
    font-weight: normal;
    
}
body h2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 900px;
    text-align: left;
    position: relative;
    font-size: 50px;
    color: #b7b4b4;
    font-weight: 100;

}

/*.wave{
    border-radius: 1000px;
    background-color: #8b8b8b;
    margin-top: 500px;
    position: relative;
    padding: 500px 500px;
}*/

.part2{
    /*background-color: #162447;*/
    padding: 140px;
    margin:0;
    text-align: left;
    float: left;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-weight: 30px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;



}
.part2 h4{
    font-size: 40px;
    margin: 0;
    float: left;
    color: #fbff00;
}
.part2 img{
    float: right;
    border-radius: 20%;
}

.button-34 {
    background: #8b8b8b;
    border-radius: 999px;
    box-shadow: #3b3b3b 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 15px 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    float: right;
    margin: 0px 105px;
    margin-top: 0;
    
    
    
  }
  .button-34:hover{
      background-color: rgb(76, 76, 77);
  }
  .about h4{
   
    font-size: 40px;
    margin: 0;
    float: left;
    color: #fbff00;
    font-family: 'Montserrat', sans-serif;

}
  .about{
     
    padding: 140px;
    margin:0;
    text-align: left;
    float: left;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-weight: 30px;
    font-family: 'Montserrat', sans-serif;



  }
  
  .about img{
    float: right;
    border-radius: 20%;
        
  }

  .footer{
      text-align: center;
      padding-top: 20px;
      color: #aaea5c;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      width="100%";
      
  }
  .info{
      color: whitesmoke;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 50px;
      padding-left: 120px;
      

  }
  
  .contact{
      text-align: center;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      color: #75b900;
      padding-bottom: 10px;

  }
  .end{
      background-color: #e0f9b6;
      text-align: center;
      font-size: 20px;
      padding: 8px;
  }

@media screen and (max-width: 800px) {
    .body, .nav, .part2, .button-34, .about, .footer, .info, .contact, .end
    {
        width: 100%;
    }

